.card{
    border-radius: 25px;
    margin: 30px;
    padding:  10px;
}
#btn{
    display: flex;
    justify-content: space-between;
}
#off{
    margin-bottom: 10px;
}

#card_body:hover{
    background-color: black;
    color: whitesmoke;
    bottom: white;
}
